html,
body {
    width: 100%;
    height: 100%;
}

header.header-infor {
    background-color: #f1f1f1;
}

ul.infor-navigation {
    list-style: none;
    display: flex;
    float: right;
    padding-top: 8px;
}

li.social-network {
    padding: 0 30px 0 0;
}

.navbar-header {
    display: contents;
}

section.nav-header {
    background: #ffffff;
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

span {
    width: 40px;
    height: 40px;
    padding: 0px;
    /* line-height: 40px; */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

span#cart_count {
    font-size: 10px;
    color: #fff;
    background: #862972;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0px;
    position: absolute;
    top: 17px;
    right: -5px;
}

.rightmenu li a {
    display: table;
    position: relative;
    padding: 14px 0px !important;
}

li.btn-function {
    padding: 0 10px;
}

.menubar li a {
    color: #000;
    font-size: 13px;
    line-height: 39px !important;
}

.link-page>a:hover {
    background-color: unset !important;
}

.btn-function>a:hover {
    background-color: unset !important;
}

.btn-function>a:focus {
    background-color: unset !important;
}

.menubar .mega-dropdown:hover .dropdown-toggle {
    background-color: #850072;
    color: #fff;
}

.menubar li a:hover {
    background-color: transparent;
    color: #850072;
}

.link-page {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}

.link_mega_menu {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-link {
    padding-right: 27px;
}

.link-hover {
    position: relative;
    display: block;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.link-hover::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: middle;
    transition: transform 0.5s;
}

.link-hover:hover {
    color: #95a5a6;
}

.link-hover:hover::after {
    transform: scaleX(1);
    transform-origin: middle;
}

ul.dropdown-menu.mega-dropdown-menu.hover-menu {
    margin-top: 2px;
}

.rightmenu li a span {
    width: 40px;
    height: 40px;
    padding: 0px;
    /* line-height: 40px;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

body .mega-dropdown {
    position: static !important;
}

ul.dropdown-menu.mega-dropdown-menu {
    top: auto;
    width: 96%;
    margin-top: 2px !important;
    margin: 2px 20px !important;
}

.list_product_item {
    list-style: none;
}

ul.banner_block_img {
    list-style: none;
    display: flex;
}

img.img-banner.rounded {
    max-width: 160px;
    border-radius: 50%;
    overflow: hidden !important;
    padding-bottom: 15px;
}

li.banner_list_img {
    width: 100% !important;
    padding: 9px;
}

section.banner-img {
    background-color: #F592B8 !important;
}

h3.banner-title.font-italic.text-center {
    margin-top: 0;
    padding-top: 25px;
    font-size: 32px;
    line-height: 36px;
    font-family: "Guardian-EgypTT", serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}

p.font-weight-bold.text-center {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

i.fas.fa-arrow-right {
    margin-left: 6px;
}

ul.list_item_card {
    list-style: none;
    display: flex;
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

li.item_card {
    flex: 1;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 12px;
    font-size: 16px;
}

.item_product_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}

img.big_item_img {
    width: 400px;
}

.big_img_block {
    list-style: none;
    padding: 0;
}

img.img_item {
    width: 175px;
    padding: 10px;
}

.item_card {
    position: relative;
    display: block;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.item_card::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #222222;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s;
}

.item_card:hover {
    color: #95a5a6;
}

.item_card:hover::after {
    transform: scaleX(1);
    transform-origin: middle;
}