/* header section  */

html,
body {
    height: 100%;
}

#wrapper {
    width: 100%;
    display: block;
    margin: 0px;
    position: relative;
    height: 100%;
}

.header {
    display: block;
    background-color: #f1f1f1;
}

.topnav {
    display: block;
}

.topnav li {
    margin: 0px 6px;
}

.header .topnav li a {
    color: #000;
    font-size: 13px;
    padding: 3px 3px;
    font-weight: 200;
}

.followUs a {
    float: left;
}

#wrapper .logo {
    max-width: 160px;
    padding: 8px 10px;
    height: auto;
    border-radius: 5px;
}

.logo img {
    width: 100%;
}

#wrapper .menubar {
    display: block;
    margin: 0px;
    min-height: inherit;
    z-index: 9;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: transparent;
}

#wrapper .menubar.navbar-fixed-top {
    top: 24px;
}

#wrapper .menubar:hover {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
}

#wrapper .meffect {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
}

.header .menubar li a {
    color: #000;
    font-size: 13px;
    line-height: 37px;
    padding: 10px 15px;
}

.header .menubar li a:hover {
    background-color: transparent;
    color: #850072;
}

.header .menubar li a:focus {
    background-color: transparent;
}

.header .menubar .mega-dropdown:hover .dropdown-toggle {
    background-color: #850072;
    color: #fff;
}

#wrapper .rightmenu {
    margin-left: 15px;
}

#wrapper .rightmenu li {
    margin: 0px 10px;
}

#wrapper .rightmenu li a {
    display: table;
    position: relative;
    padding: 9px 0px;
}

#wrapper .rightmenu li a span {
    width: 40px;
    height: 40px;
    padding: 0px;
    /* line-height: 40px;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

#wrapper .rightmenu a span.cart-count {
    font-size: 10px;
    color: #fff;
    background: #862972;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0px;
    position: absolute;
    top: 17px;
    right: -5px;
}

#wrapper .rightmenu .dropdown-menu {
    min-width: auto;
    margin: 0px;
    padding: 0px;
}

#wrapper .rightmenu .dropdown li {
    margin: 0px;
}

#wrapper .rightmenu .dropdown li a {
    padding: 9px 10px;
    line-height: normal;
    width: 100%;
    border-bottom: solid 1px #eee;
}

#wrapper .rightmenu .dropdown li a:hover {
    background-color: #862972;
    color: #fff;
}

.menubar li.dropdown:hover>.dropdown-menu {
    display: block;
}

#wrapper .mega-dropdown {
    position: static !important;
}

#wrapper .mega-dropdown-menu {
    padding: 10px 0px;
    background-color: #f7f5fb;
    width: 100%;
    text-align: center;
    border-bottom: none;
    box-shadow: 0px 8px 10px -6px #ababab;
    -webkit-box-shadow: 0px 8px 15px -10px #ababab;
}

.mega-dropdown-menu>li.col-sm-3 {
    width: 20%;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
    border-bottom: dashed 1px #ebebeb;
}

#wrapper .mega-dropdown-menu>li>ul>li>a {
    color: #222;
    font-size: 12px;
    padding: 0px 0px;
    line-height: 34px;
    letter-spacing: 0.6px;
}

#wrapper .mega-dropdown-menu>li ul>li>a:hover,
#wrapper .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: #850072;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 15px;
    color: #000;
    padding: 0px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    -webkit-box-shadow: 5px 0px 15px 5px rgba(131, 201, 194, 0.2);
    -moz-box-shadow: 5px 0px 15px 5px rgba(131, 201, 194, 0.2);
    box-shadow: 5px 0px 15px 5px rgba(131, 201, 194, 0.2);
}

.sidenav a {
    padding: 8px 8px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: -7px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidemenu {
    padding: 10px 17%;
    display: block;
    position: relative;
    overflow-x: auto;
}

.sidemenu .hdwel {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 200;
}

.sidenav .navbar-nav {
    width: 100%;
    border-bottom: dashed 1px #b159a4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.sidenav .navbar-nav li {
    width: 100%;
}

.sidenav .navbar-nav li a {
    width: 100%;
    display: block;
    font-size: 14px;
    padding: 7px 15px;
    text-transform: uppercase;
}

.sidenav .navbar-nav li a:hover {
    color: #000;
}

.sidenav .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wrapper .nav2 li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #111;
}

#wrapper .nav2 li .fa {
    color: #b159a4;
}

.follnav li .fa {
    color: #b159a4;
    font-size: 24px;
    transition: all 0.5s;
}

.follnav li .fa:hover {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    -webkit-box-shadow: 5px 0px 15px 5px rgba(131, 201, 194, 0.2);
    -moz-box-shadow: 5px 0px 15px 5px rgba(131, 201, 194, 0.2);
    box-shadow: 5px 0px 15px 5px rgba(131, 201, 194, 0.2);
}

.sidenav2 a {
    padding: 1px 8px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s
}

.sidenav2 a:hover,
.offcanvas a:focus {
    color: #000;
}

.sidenav2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav2 {
        padding-top: 15px;
    }
    .sidenav2 a {
        font-size: 18px;
    }
}

.inputserch {
    width: 100%;
    margin: 0px;
    display: block;
    position: relative;
}

.inputserch .form-control {
    border: none;
    height: 45px;
    padding-right: 45px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    border-bottom: solid 2px #addedc;
}

.inputserch .input-group-addon {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.inputserch .input-group-addon .btn {
    width: 55px;
    height: 45px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
}

.listitem {
    width: 100%;
    margin: 20px 0px 0px;
    display: block;
}

.listitem li {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}

.listitem img {
    width: 55px;
    height: auto;
    margin: 0px 10px 10px 0px;
    float: left;
}

#wrapper .listitem .ttbox p {
    font-size: 13.5px;
    color: #000;
    margin: 0px 0px 3px;
}

#wrapper .listitem .ttbox span {
    color: #000;
    font-size: 13px;
}

.sliderpanel {
    width: 100%;
    height: 100%;
    display: block;
}

.myslider {
    display: block;
    height: 100%;
}

.myslider .item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

.myslider .carousel-control {
    position: absolute;
    top: 40%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.myslider .carousel-control.left {
    left: 10px
}

.myslider .carousel-control.right {
    right: 10px
}

.link-hover {
    position: relative;
    display: block;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.link-hover::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: middle;
    transition: transform 0.5s;
}

.link-hover:hover {
    color: #95a5a6;
}

.link-hover:hover::after {
    transform: scaleX(1);
    transform-origin: middle;
}

nav.navbar.menubar.navbar-fixed-top.desktop {
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

@media(max-width:768px) {
    ul.nav.navbar-nav.navbar-right.topnav {
        display: flex;
        float: right;
    }
    .navbar-toggle .icon-bar {
        background: #262c49;
    }
    #wrapper .menubar.navbar-fixed-top {
        top: 40px;
    }
    .navbar {
        border: 1px solid #00000038 !important;
    }
}


/* end header section  */